@import './base.css';

:root {
  font-size: 16px;
  overflow-x: hidden;
}

* {
  line-height: 1.5;
}


.step {
  width: 100%;
  padding: 0 5%;
}

.content {
  padding-top: 2vh;
  
}

.page-title {
  font-size: 2rem;
  font-weight: bold;
}

#alert {
  display: none; 
  font-weight: 1rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;

  & b {
    font-weight: 1.2rem;
  }
}
